.canvas {
	text-align: center;

	h2 {
		font-family: 'Atma-Bold';
		color: $color-white;
		margin: .5em;
	}
}

.library-region {
	display: inline-block;
	width: 21%;
	padding: 2%;

	.library-category {
		border-radius: 5px;
		background-color: $color-white;
		font-family: 'Atma-SemiBold';
		font-size: 1em;
		text-align: center;
		padding: 1em;
		margin: .5em 0;
	}

	canvas {
	display: inline-block;
	width: 60%;
	background-color: #FFF;
}
}

@media (min-width: 872px) {
	.library-region {

		.library-category {
			font-size: 1.25em;
		}
	}
}

@media (min-width: 1080px) {
	.library-region {

		.library-category {
			font-size: 1.5em;
		}
	}
}