.login-container {
	width: 65%;
	margin: 0 auto;

	.main-logo {
		display: block;
		width: 65%;
		margin: 0 auto;
		padding-top: 2em;
	}

	.intro {
		font-family: 'OpenSans-Semibold';
		color: $color-white;
		text-align: center;
	}

	.button-box {
		font-family: 'OpenSans-Regular';
		display: block;
		text-align: center;

		.login-button,
		.signup-button {
			font-family: 'Atma-Bold';
			font-size: 1.5em;
			color: #FFFFFF;
			padding: .25em 1em;
			background: none;
			border: 2px solid $color-white;
			border-radius: 10px;
			margin: .25em;
			outline: none;
			cursor: pointer;

			a {
				color: #FFFFFF;
				text-decoration: none;
			}
		}

		.login-button:hover,
		.signup-button:hover,
		.button-select {
			background: $color-white;
			color: $color-black;

			a {
				color: $color-black;
			}
		}
	}

	.form-container {
		display: none;
		text-align: center;
		padding-top: 2em;

		&.active {
			display: block;
		}
	}

	#username,
	#password {
		background-color: $color-white;
		border: none;
		padding: .25em;
	}

	.submit-button {
		color: #FFFFFF;
		padding: .25em;
		background: none;
		border: 2px solid $color-white;
		border-radius: 5px;
	}

	.message {
		font-family: 'OpenSans-Semibold';
		font-size: 1.25em;
		color: $color-white;
		margin-top: .5em;
	}
}